# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
#db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
# vendor/* linguist-vendored

* linguist-vendored
public/* linguist-vendored
#*.html linguist-vendored=false
#*.erb linguist-detectable=true
